.orDiv {
    background-color: gray;
    height: 1px;
    width: 50%;
}

.btn {
    width: 300px;
}

.btn-group {
    flex-direction: column;
    align-items: center;
}

.icon {
    margin-right: 8px;
}